.page-container{
    display: grid;
    grid-template-columns: 319px auto;
    height: 100vh;
}
.side-nav{
    padding-top: 42px;
    padding: 0 auto;
    background-color: #222222;
}
.page-scrol{
    overflow-y: auto;
}
.side-photo{
    width: 259px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo-desing{
    width: 146px;
    height: 32px;
}
.logo-burge{
    width: 26px;
    height: 11px;
}
.side-list{
    width: 259px;
    margin-top: 106px;
    margin-left: 30px;
}
.li-list{
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 60px;
    transition: border-radius background-color ;
}
.li-list img{
    width: 24px;
    height: 24px;
}
.li-list span{
    color: #FFFFFF;
    font-size: 16px;
    font-family: avenir_medium;
}
.li-list:hover{
    border-radius: 12px;
    background-color: #FF2288;
}
.folowing-list{
    margin-top: 89px;
    margin-left: 60px;
}
.first-span{
    color: #FFFFFF;
    font-size: 12px;
    font-family: avenir_heavy;
}
.folowing-ul{
    margin-top: 31px;
}
.folowing-li{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.folowin-li img{
    width: 44px;
    height: 44px;
    border-radius: 100px;
}
.folowing-li span{
    margin-left: 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: avenir_medium;
}
.second-span{
    margin-top: 19px;
    color: #FFFFFF;
    font-size: 14px;
    font-family: avenir_heavy;
}
.side-page-nav{
    padding: 10px;
    height: 56px;
    display:none;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
}
.page-nav-2 a img{
    transition: background-color border-radius;
}
.page-nav-2 a img:hover{
    background-color: #ff2288;
    border-radius: 12px;
    size: 120%;
}
.header-nav{
    height: 56px;
    margin-top: 30px;
    margin-bottom: 71px;
    padding-left: 25px;
    padding-right: 91px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
.serch-nav{
    display: flex;
    justify-items: center;
}
.search-bar{
    width: 100%;
    max-width: 446px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 18px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
    background: transparent;
    flex: 1;
    outline: none;
    padding: 18px 0px;
    font-size: 14px;
    color: #111111;
}
::placeholder{
    color: #111111;
    opacity: 50%;
}
.search-bar button{
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background: transparent;
    cursor: pointer;
}
.search-bar button img{
    width: 24px;
}
.use-nav{
    display: flex;
    align-items: center;
}
.use-nav a{
    margin-left:30px;
}
.use-a-1{
    padding: 18px;
    color: #FF2288;
    font-size: 14px;
    font-family: avenir_heavy;
}
.use-a-1:hover{
    color: #FFFFFF;
    background-color: #FF2288;
    border-radius: 12px;
}
.content{
    max-width: 1231px;
    margin: auto;
    background-color: #FFFFFF;
}
.content-list{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contant-ul{
    display: flex;
    align-items: center;
}
.contant-li{
    display: flex;
    align-items: center;
    height: 56px;
    transition: border-radius, background-color;
}
.contant-li a{
    padding:15px;
    color: #222222;
    font-size: 16px;
    font-family: avenir_heavy;
}
.contant-li:hover{
    background-color: #F2F2F2;
    border-radius: 12px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(auto 289px);
    row-gap: 40px;
    column-gap: 25px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item img{
    width: 100%;
    border-radius: 12px;
}
.item span{
    color: #222222;
    font-size: 18px;
    font-family: avenir_medium;
}
.content-btdv{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-bt{
    color: #222222;
    font-size: 16px;
    font-family: avenir_heavy;
    width: 289px;
    height: 56px;
    border-radius: 12px;
    transition: background-color;
}
.content-bt:hover{
    background-color: #FF2288;
}
.top-designers{
    width: auto;
    background-color: #FAFAFA;
}
.designers-list{
    max-width: 1231px;
    margin: auto;
    margin-top: 70px;
}
.designers-title{
    padding-top: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.designers-title h3{
    color: #222222;
    font-size: 32px;
    font-family: avenir_heavy;
}
.designers-title span{
    color: #222222;
    font-size: 14px;
    font-family: avenir_heavy;
    opacity: 30%;
}
.designers-ul{
    margin-top: 54px;
    padding-bottom: 60px;
    display: flex;
}
.designers-li{
    max-width: 132px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.designers-li img{
    width: 100%;
}
.designers-li a{
    color: #222222;
    font-size: 16px;
    font-family: avenir_medium;
}
.designers-li span{
    color: #222222;
    font-size: 12px;
    font-family: avenir_book;
    opacity: 60%;
}
.designers-li button{
    margin-top:17px;
    padding: 12px auto 13px auto;
    transition: color background-color;
}
.designers-li button:hover{
    color: white;
    background-color: aqua;
}
.footer-div{
    max-width: 1231px;
    margin: auto;
    margin-top: 69px;
}
.footer-info{
    max-width: 1094px;
    display: flex;
    justify-content: space-between;
}
.footer-box{
    margin-top: 36px;
    display: flex;
    flex-direction: column
}
.footer-box h4{
    color: #222222;
    font-size: 16px;
    font-family: avenir_heavy;
    margin-bottom: 36px;
}
.footer-box a{
    color: #222222;
    font-size: 16px;
    margin-top:10px;
    font-family: avenir_heavy;
}
.footer-final{
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 113px;
    margin-bottom: 40px;
}
.final-img-1{
    max-width: 24px;
    opacity: 0.6;
}
.final-img-2{
    max-width: 24px;
}
.final-span-1{
    color: #222222;
    font-size: 16px;
    font-family: avenir_book;
}
.final-span-2{
    color: #222222;
    font-size: 16px;
    font-family: avenir_black;
    font-weight: bold;
}
.first-tr{
    color: #111111;
    font-size: 18px;
}