.table-container{
    max-width: 1291px;
    margin: auto;
    margin-top: 100px;
}
.iphone-x{
    border-collapse: collapse;
    width: 100%;
}
.first-tr{
    color: #111111;
    font-size: 18px;
}
th, td {
    cursor:zoom-in;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
    font-family: avenir_heavy;
}
.all-others:hover{
    color: #222222;
    font-size: 20px;
    background-color: #F2F2F2;
    border-radius: 12px;
}
tr{
    transition: color background-color;
}
.all-others{
    color: #AFAFAF;
    font-size: 16px;
    transition: color background-color;
}